*{
    margin: 0;
    padding: 0;
}
.content-table{
    border-collapse: collapse;
    margin: 100px 0;
    font: size 0.9cm; 
    min-width: 900px;
    margin-left: 100px;

 
    
}
.content-table thead tr{
    background-color: #009879;
    color:white;
    text-align: left;
    font-weight: bold;

}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid #dddddd;

}
.content-table tbody tr:nth-child(odd){
    background-color: lightgray;
}

.content-table tbody tr :active-row{
    font-weight:bold;
    color:#009879;

}